---
layout: default
---
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script type="text/javascript">
  $(document).ready(function () {
    $("#testing").on("contextmenu",function(e){
      return false;
    });
  });
</script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#testing').bind('cut copy paste', function (e) {
      e.preventDefault();
    });
  });
</script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#testing').bind('cut copy paste', function (e) {
      e.preventDefault();
    });

    $("#testing").on("contextmenu",function(e){
      return false;
    });
  });
</script>

<style>
  @font-face {
    font-family: 'SofiaSans';
    src: url('/assets/fonts/sofia-sans-regular.ttf');
  }
</style>
<article id="testing" class="container px-2 mx-auto mb4" itemscope itemtype="http://schema.org/BlogPosting" style="font-family: 'SofiaSans', serif">
  <h1  class="h0 col-10 sm-width-full py-4 mt-3 inline-block" itemprop="name headline" style="margin-bottom: -16px">{{ page.title }}</h1>
  <div class="col-4 sm-width-full">
    <img class="img-fluid mb-3" alt="stones" src="/assets/{{page.imgUrl}}.png" style="padding-top: 10px; height: 45vh"/>
  </div>
  <div class="prose" itemprop="articleBody" style="font-size: 18px">
    {{ content }}
  </div>
</article>

<div class="container mx-auto px-2 py-2 clearfix"
     style="overflow-x: hidden; overflow-y: hidden; margin-left: -4px; margin-bottom: -34px;">
  <div
    id="cusdis_thread"
    data-host="https://cusdis.com"
    data-app-id="06d0816f-8db2-415b-9f29-d8b01a260418"
    data-page-id="{{ page.id }}"
    data-page-url="{{ page.url }}"
    data-page-title="{{ page.title }}"
  ></div>
  <script defer src="https://cusdis.com/js/widget/lang/bg.js"></script>
  <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
</div>
<div class="container mx-auto px-2 py-2 clearfix">
  {% include previous-next.html %}
</div>

