---
layout: default
---

<style>
  @font-face {
    font-family: 'SofiaSans';
    src: url('/assets/fonts/sofia-sans-regular.ttf');
  }
</style>
<article class="container px-2 mx-auto mb4" itemscope itemtype="http://schema.org/BlogPosting" style="font-family: 'SofiaSans', serif">
  <h1  class="h0 col-10 sm-width-full py-4 mt-3 inline-block" itemprop="name headline" style="margin-bottom: -16px">{{ page.title }}</h1>
  <div class="col-4 sm-width-full">
    <img class="img-fluid" src="/assets/stones.png" style="padding-top: 10px"/>
    <p class="mb-3 py-2 bold h4">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y"
        }}
      </time>
    </p>
  </div>
  <div class="prose" itemprop="articleBody">
    {{ content }}
  </div>
</article>

<div class="container mx-auto px-2 py-2 clearfix"
     style="overflow-x: hidden; overflow-y: hidden; margin-left: -4px; margin-bottom: -34px;">
  <div
    id="cusdis_thread"
    data-host="https://cusdis.com"
    data-app-id="06d0816f-8db2-415b-9f29-d8b01a260418"
    data-page-id="{{ page.id }}"
    data-page-url="{{ page.url }}"
    data-page-title="{{ page.title }}"
  ></div>
  <script defer src="https://cusdis.com/js/widget/lang/bg.js"></script>
  <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
</div>
<div class="container mx-auto px-2 py-2 clearfix">
  {% include previous-next.html %}
</div>

